div.child {
    font-size: 96px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    width: fit-content;
}
div.parent{
    position: relative;
    width: 60px;
    height: 80px;
    overflow: hidden;
}